.body {
    background-color: white;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkred;
    color: gray;
}
.header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: black;
    padding-right: 40px;
    padding-left: 40px;
}

.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section ul {
    list-style-type: none;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    text-align: center;
}

.about {
    background-color: darkred;
    color: white;
}

.work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: 500px;
    margin: 0 auto;
    border-style: solid;
}

.work-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    border-style: solid;
}

    .card {
        padding: 10px;
        width: 100%;
        text-align: center;
        border-style: solid;
        border-width: 1px;
      }


  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
  }

  .contact {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkred;
    color: gray;
}
.contact h4 {
    display: inline-block;
    font-size: 50px;
    background-color: black;
    padding-right: 40px;
    padding-left: 40px;
}




.contact ul {
    list-style-type: none;
}

.contact ul li {
   display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(/Assets/images/Background.jpg);
    background-size: cover;
    background-position: center;
}

